<div class="flex flex-col items-center px-40 my-10">
  @if (!isedit) {
  <h1>add new product</h1>
  }@else {
  <h1>Update product</h1>
  }

  <form  class="shadow-sm w-96" [formGroup]="productform">
    <div class="flex flex-wrap">
      <div class="w-full gap-4">
        <mat-form-field class="w-full">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>category</mat-label>
          <mat-select formControlName="CategoryId" >
            @for (item of categories; track $index) {
          <mat-option [value]="item._id">{{item.name}}</mat-option>
          }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Brand</mat-label>
          <mat-select formControlName="brandId" >
            @for (item of brands; track $index) {
          <mat-option [value]="item._id">{{item.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        
        <div class="w-full ">
          <mat-checkbox class="example-margin" formControlName="facheredproduct">fechered product</mat-checkbox>
          <mat-checkbox class="example-margin" formControlName="isnewproduct">new product</mat-checkbox>
        </div>

        <mat-form-field class="w-full">
          <mat-label>Short description</mat-label>
          <input matInput type="text" formControlName="shortDescription" />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>description</mat-label>
          <textarea
            matInput
            type="text"
            rows="5"
            formControlName="Description"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Price</mat-label>
          <input matInput type="number" formControlName="Price" />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>discount</mat-label>
          <input
            matInput
            type="number"
            min="0"
            max="100"
            formControlName="discount"
          />
        </mat-form-field>

        <div class="w-full flex flex-col" formArrayName="Images">
          <div class="flex justify-between">
            <h4>Images</h4>
            <button mat-raised-button color="primary" (click)="addimage()">
              Add Image
            </button>
            <button mat-raised-button color="primary" (click)="removeimage()">
              remove Image
            </button>
          </div>
          @for (item of Images.controls; track $index) {
          <mat-form-field class="w-full">
            <mat-label>images {{$index+1}}</mat-label>
            <input
              matInput
              type="text"
              min="0"
              max="100"
              [formControlName]="$index"
            />
          </mat-form-field>
          }
        </div>
      </div>
      @if (!isedit) {
      <div class="w-full flex justify-center gap-4 mb-4">
        <button
          mat-raised-button
          [disabled]="productform.invalid"
          color="primary"
          (click)="add()"
        >
          Add
        </button>
      </div>
      }@else {
      <div class="w-full flex justify-center gap-4 mb-4">
        <button
          mat-raised-button
          [disabled]="productform.invalid"
          color="primary"
          (click)="update()"
        >
          Update
        </button>
      </div>
      }
    </div>
  </form>
</div>
