<div class="flex  flex-col items-center px-40 mt-10">
  @if (!isedit) {
    <h1>add new brand</h1>
  }@else {
    <h1>Update brand</h1>
  }

  <form action="" class="shadow-sm w-96">
    <div class="flex flex-wrap">
      <div class="w-full gap-4">
        <mat-form-field class="w-full">
          <mat-label>Name</mat-label>
          <input matInput type="text" [(ngModel)]="name" name="name" />
        </mat-form-field>
      </div>
      @if (!isedit) {
        <div class="w-full flex justify-center gap-4">
          <button mat-raised-button [disabled]="!name" color="primary" (click)="add()">Add</button>
        </div>
      }@else {
        <div class="w-full flex justify-center gap-4">
          <button mat-raised-button [disabled]="!name" color="primary" (click)="update()">Update</button>
        </div>
      }
    </div>
  </form>
</div>
