<footer class="bg-indigo-50 text-indigo-800 mt-10" >
  <div class="max-w-7xl mx-auto px-6 py-10 grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- About Section -->
    <div>
      <h3 class="text-lg font-semibold mb-2" >About ShopEase</h3>
      <p class="text-sm">
        ShopEase is your one-stop online store for all your needs. We bring you the best products at the best prices.
      </p>
    </div>

    <!-- Quick Links -->
    <div>
      <h3 class="text-lg font-semibold mb-2">Quick Links</h3>
      <ul class="space-y-1 text-sm">
        <li><a routerLink="/"  class="hover:text-indigo-600 transition">Home</a></li>
        <li><a href="#" class="hover:text-indigo-600 transition">Shop</a></li>
        <li><a href="#" class="hover:text-indigo-600 transition">About Us</a></li>
        <li><a href="#" class="hover:text-indigo-600 transition">Contact</a></li>
      </ul>
    </div>

    <!-- Contact -->
    <div>
      <h3 class="text-lg font-semibold mb-2">Contact Us</h3>
      <p class="text-sm">{{"Email: yashkhanpara11@gmail.com"}}</p>
      <p class="text-sm mb-2">Phone: +91 88499 30662</p>
      <div class="flex gap-4">
        <mat-icon class="text-indigo-600 hover:text-indigo-900 cursor-pointer">facebook</mat-icon>
        <mat-icon class="text-indigo-600 hover:text-indigo-900 cursor-pointer">instagram</mat-icon>
      </div>
    </div>
  </div>

  <div class="text-center text-xs text-indigo-500 py-4 border-t border-indigo-100">
    © 2025 ShopEase. All rights reserved.
  </div>
</footer>
