<div class="mx-4">
<div class="w-full bg-white py-4">
  <owl-carousel-o [options]="customOptions"  data-aos="fade-up" class="h-72">
    @for (item of carouserimage; track $index) {
      <ng-template carouselSlide>
        <div
          class="flex flex-col items-center justify-center cursor-pointer px-2"
          [routerLink]="'product/' + item._id"
        >
          <div class="h-56 w-56 overflow-hidden flex items-center justify-center bg-white border rounded-lg">
            <img
              [src]="item.Images[0]"
              alt="{{ item.name }}"
              class="h-full w-full object-contain"
            />
          </div>
          <span class="mt-2 text-base text-center font-medium">{{ item.name }}</span>
        </div>
      </ng-template>
    }
  </owl-carousel-o>
</div>

<p class="text-2xl sm:text-3xl font-extrabold text-gray-800 pt-6 pb-2"  data-aos="fade-up" >
  Featured Products
</p>

  <div class="flex flex-wrap gap-4">
    @for (item of fetreproducts; track $index) {
      <app-product-card [item]="item" ></app-product-card>
    }
  </div>
  <p class="text-2xl sm:text-3xl font-extrabold text-gray-800 pt-6 pb-2"  data-aos="fade-up">New Products</p>
  <div class="flex flex-wrap gap-4">
    @for (item of isnewproduts; track $index) {
      <app-product-card [item]="item"></app-product-card>
    }
  </div>
</div>
